.aboutMenu {
    width: 70%;
    height: auto;
    line-height: 1.5rem;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    line-height: 2rem;
    font-size: 1.3rem;
    background-color: #4b4b4b33;
    border-radius: 10px;
    margin: 30px;
    transition: all 0.3s;
}

.aboutMenu:hover {
    box-shadow: 0 0 10px 1px rgb(80, 7, 7);
}

.teamMember {
    font-size: clamp(1.2rem, -1.5rem + 6vw, 1.6rem);
    color: rgb(255, 83, 83);
    margin-bottom: 10px;
    font-weight: 600;
}

.sectionTitle {
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(255, 83, 83);
    margin-bottom: 20px;
}

.aboutLinks {
    display: flex;
    gap: 12px;
    margin: auto;
    align-items: center;
    margin-top: 30px;
}

.aboutLinks a {
    display: block;
    text-decoration: none;
    background-color: #3333335d;
    border: 1px #3333335d solid;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    padding: 12px 18px;
    color: #f0f0f0;
    width: 50%;
}

.aboutLinks:hover a:hover {
    border: 1px brown solid;
    background-color: #5050505d;
}

@media (max-width: 768px) {
    .aboutMenu {
        width: 80%;
        padding: 20px;
        margin: 20px;
    }
}

@media (max-width: 670px) {
    .aboutMenu {
        width: 100%;
        padding: 20px;
        margin: 10px;
    }

    .aboutLinks {
        flex-direction: column;
    }

    .aboutLinks a {
        width: 90%;
    }
}