.faq {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
}

.oneQuestion {
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s;
}

.question {
    padding: 15px;
    background-color: #3a3a3a57;
    cursor: pointer;
    font-weight: 500;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s;
    font-size: 0.9rem;
    line-height: 1.3rem;
    padding: 0 15px;
    background-color: #9797973b;
}

.answer.open {
    padding: 15px 15px;
    max-height: 500px;
}

@media (max-width: 1300px) {
    .faq {
        width: 70%;
    }
}
@media (max-width: 992px) {
    .faq {
        width: 70%;
    }
    .answer,
    .question{
        font-size: 0.8rem;
    }
}
@media (max-width: 768px) {
    .faq {
        width: 80%;
    }
}

@media (max-width: 670px) {
    .faq {
        width: 90%;
    }
}