.fighterDescription {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.fighterTopRow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.descriptionFighterPhoto {
    width: 250px;
    object-fit: contain;
    margin-right: 40px;
}

.fighterDescriptionInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    text-align: left;
}

.fighterName {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 3rem;
}

.fighterNickname {
    font-size: 2rem;
    line-height: 2rem;
    color: #a0a0a0;
    margin-bottom: 10px;
}

.fighterOtherInfo {
    color: rgb(155, 11, 11);
    font-size: 1.5rem;
    margin-bottom: 5px;
    line-height: 1.7rem;
}

.separateSectionsVertical {
    height: 80%;
    width: 2px;
    margin-left: 40px;
    margin-right: 20px;
    background-color: #333;
}

.fighterDetails {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 30px;
    box-sizing: border-box;
    line-height: 2.1rem;
    justify-content: center;
    text-align: center;
}

.separateSectionsVertical {
    height: 80%;
    width: 2px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #333;
}

.tableWrapper table {
    width: max-content;
    border-collapse: collapse;
    background-color: rgba(126, 126, 126, 0.144);
    border-radius: 10px;
    overflow: hidden;
}

.tableWrapper {
    overflow-x: auto;
    max-width: 100%;
    margin-bottom: 20px;
}

table {
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(126, 126, 126, 0.144);
}

.fighterStats{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.winsLosts {
    width: 50%;
}

.participations {
    width: 80%;
    margin-bottom: 30px;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: rgba(150, 0, 0, 0.479);
}

tr:nth-child(even) {
    background-color: rgba(126, 126, 126, 0.144);
}

th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
}

@media (max-width: 1300px) {
    .fighterDescription {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .fighterTopRow {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .descriptionFighterPhoto {
        width: 230px;
        margin: 20px;
    }

    .fighterDescriptionInfo {
        margin-left: 0;
        padding: 0;
        align-items: center;
        text-align: center;
        width: auto;
    }

    .fighterName {
        font-size: 2.5rem;
        line-height: 2.8rem;
    }

    .fighterDetails {
        width: 90%;
        padding: 20px;
        margin-top: 20px;
        font-size: 1.2rem;
        line-height: 1.5rem;
        text-align: center;
    }

    .separateSectionsVertical {
        display: none;
    }

    .separateSections {
        width: 50%;
    }

    .map {
        width: 70%;
    }
}

@media (max-width: 1000px) {
    .fighterDescription {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .fighterDescriptionTop {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
    }

    .descriptionFighterPhoto {
        width: 200px;
        margin: 20px;
    }

    .fighterDescriptionInfo {
        margin-left: 0;
        padding: 0;
        align-items: center;
        text-align: center;
        max-width: 500px;
        width: auto;
    }

    .fighterDetails {
        width: 90%;
        padding: 20px;
        margin-top: 20px;
        font-size: 1.2rem;
        line-height: 1.5rem;
        text-align: center;
    }

    .separateSectionsVertical {
        display: none;
    }
}