footer {
    background-color: #0000007c;
    padding-bottom: 30px;
    padding-top: 20px;
    font-size: 14px;
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.footer {
    width: 60%;
    margin: auto;
    display: flex;
    line-height: 1.2rem;
    width: 70%;
    max-width: 1220px;
    justify-items: center;
}

.footerSection {
    margin: 15px;
    flex: 1;
    width: 200px;
    border-right: 2px solid rgb(43, 43, 43);
}

.footerSection:last-child {
    border-right: none;
}

.footerSection>p {
    line-height: 1.4rem;
    font-size: 0.9rem;
}

.footerSection>.footerTitle {
    margin-bottom: 20px;
    font-size: 1.4rem;
}

.footerSection a {
    text-decoration: none;
    display: flex;
    margin-bottom: 10px;
}

.footerSection a:hover {
    color: brown;
}

.footerBottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
}

.footerBottom p {
    color: rgb(92, 92, 92);
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.footerSection>ul>li {
    font-size: 0.9rem;
    list-style-type: none;
    margin-left: 0px;
}

.footerSection>ul {
    padding-left: 0px;
}


@media (max-width: 1300px) {
    .footer {
        width: 90%;
    }
}

@media (max-width: 992px) {

    .footerSection>p,
    .footerSection>section>a,
    .footerSection>ul>li>a {
        font-size: 0.7rem;
    }

    .footerSection>h1 {
        font-size: 0.9rem;
    }

    .footerSection {
        margin: 10px;
    }

    .footer {
        flex-direction: column;
        border: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .footerSection>ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footerSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-right: none;
    }

    .footerSection>ul>li {
        border: none;
        text-align: center;
        display: block;
    }
}

@media (max-width: 480px) {
    footer {
        justify-content: center;
    }

    .footer {
        flex-direction: column;
        border: none;
        display: flex;
        flex-direction: column;
    }

    .footerSection {
        border: none;
        text-align: center;
        border-top: 2px solid rgb(43, 43, 43);
        padding-top: 20px;
    }

    .footerSection:first-child {
        border-top: none;
    }
}