#menuLinks {
    display: none;
    flex-direction: column;
    justify-content: safe;
    position: absolute;
    background-color: rgba(36, 36, 36, 0.5);
    border-radius: 10px;
    min-width: 300px;
    padding-bottom: 30px;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease-in-out;
    position: fixed;
    right: 40px;
    overflow-y: auto;
    max-height: 90vh;
    backdrop-filter: blur(10px);
    opacity: 0;
}

#menuLinks.active {
    display: flex;
    opacity: 1;
}

.menuLinks>p {
    font-size: 20rem;
}

.menuLink>.fa-solid,
.menuLink>.fa-brands,
.menuLinkChosen>.fa-solid,
.menuLinkChosen>.fa-brands {
    font-size: 1.4rem;
}

.menuLink {
    padding: 14px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    transition: all 0.3s;
    border-radius: 10px;
    border-bottom-width: 10px;
    width: 80%;
    margin: 3px;
    background-color: rgba(119, 119, 119, 0.075);
}

.menuLinkChosen {
    padding: 14px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    transition: all 0.3s;
    border-radius: 10px;
    border-bottom-width: 10px;
    width: 80%;
    margin: 3px;
    background-color: rgba(119, 119, 119, 0.075);
    border: 1px brown solid;
}

.menuLinkChosen:hover,
.menuLink:hover {
    background-color: rgba(167, 167, 167, 0.137);
    color: rgb(172, 16, 16);
}

#menuLinks>h1, #menuLinks>p {
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.3rem;
    margin-top: 22px;
    margin-bottom: 10px;
    border-bottom: 1px rgb(97, 97, 97) solid;
    width: 70%;
}

@media (max-width: 500px) {
    #menuLinks {
        right: 0px;
        top: 0px;
        min-width: 250px;
        width: 100%;
        max-height: 100vh;
        height: 100vh;
        position: fixed;
        border-radius: 0;
    }
}