
#pagination button:hover {
    background-color: #5f5f5f38;
}

#pagination button[style*="font-weight: bold"] {
    background-color: #970000;
}

#pagination button[style*="font-weight: bold"]:hover {
    background-color: #bb0000;
}

#pagination {
    text-align: center;
    margin: 20px auto;
}

#pagination button {
    background-color: #4b4b4b33;
    margin: 0 4px;
    padding: 8px 14px;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;
    width: 40px;
}